<html>
  <head>
    <meta charset="utf-8">
    <title>Settee - Mocha Tests</title>
    <link rel="stylesheet" href="../lib/mocha.css" />
    <script src="../lib/chai.js"></script>
    <script src="../lib/mocha.js"></script>
    <script>mocha.setup('bdd')</script>
    <script src="../settee.js"></script>
    <script src="test.main.js"></script>    
  </head>
  <body>
    <div id="mocha"></div>
  </body>
</html>
<script>
  
  window.onload= function() {
    chai.Assertion.includeStack = true;
    window.expect= chai.expect;

    var runner=mocha.run();
    runner.ignoreLeaks= true;
    runner.globals(['Settee', 'chai', 'expect', 'mocha', 'describe', 'it']);
  }
</script>